*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    background-color: #99C7AA;

}

.bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 120vw;
    opacity: 0.3;
}


.title{
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-top: 4vh; 
}

.titleicon{
    width: 6vw;
}

p{
    font-size: 5vw;
}

.photosonya{
    display: flex;
    justify-content: space-evenly;
}

.sonyaphoto{
    width: 15vw;
    transition: 1.5s;
}


.sonyaphoto:hover{
    transform: scale(1.6);
    
}


.photo1{
    position: absolute;
    left: 14vw;
}


.photo2{
    position: absolute;
    left: 56vw;
}

.photo3{
    position: absolute;
    left: 70vw;
}


.back{
    position: fixed;
    left: 5vw;
    bottom: 5vh;
    padding: 2vw;
    font-size: 1.5vw;
    border-radius: 20px;
    color: gold;
    background-color: plum;
    font-weight: bold;
}












